{% extends 'travelix/main.html' %}
{% load static %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}
{% block cabecera_extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'travelix/styles/contact_styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'travelix/styles/contact_responsive.css'%}">
{% endblock cabecera_extra_css %}
{% block cuerpo_main %}
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'travelix/images/contact_background.jpg' %}"></div>
		<div class="home_content">
			<div class="home_title">Contacto</div>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact_form_section">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Contact Form -->
					<div class="contact_form_container">
						<div class="contact_title text-center">Ponte en Contacto!</div>
						<div  id="contact_form" class="contact_form text-center">
							<input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Nombre" required="required" data-error="Name is required.">
							<input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="E-mail" required="required" data-error="Email is required.">
							<input type="text" id="contact_form_subject" class="contact_form_subject input_field" placeholder="Asunto" required="required" data-error="Subject is required.">
							<textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Mensaje" required="required" data-error="Please, write us a message."></textarea>
							<button id="form_submit_button" class="form_submit_button button trans_200" onclick="enviarMailContacto();">
                                Enviar Mensaje<span></span><span></span><span></span></button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- Google Map -->

    <br>
		
	<div class="travelix_map">
		<div id="google_map" class="google_map">
			<div class="map_container">
				<div id="map"></div>
			</div>
		</div>
	</div>


{% block extra_js_end_body %}

<script src="{% static 'travelix/plugins/parallax-js-master/parallax.min.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="{% static 'travelix/js/contact_custom.js'%}"></script>


    <script>
    function enviarMailContacto() {
                var nombreContacto = $('#contact_form_name');
                var mailContacto = $('#contact_form_email');
                var motivoContacto = $('#contact_form_subject');
                var mensajeContacto = $('#contact_form_message');

                if (mailContacto != null && mailContacto !== '') {
                    $.ajax({
                        type: 'POST',
                        url: '{% url "enviarMailContacto" %}',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'nombreContacto':nombreContacto.val(),
                            'mailContacto':mailContacto.val(),
                            'motivoContacto':motivoContacto.val(),
                            'mensajeContacto':mensajeContacto.val(),
                            'isAjax': 'S'
                        },
                        success: function (data) {
                            alert("Correo enviado !");
                            nombreContacto.val("");
                            mailContacto.val("");
                            motivoContacto.val("");
                            mensajeContacto.val("");

                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                } else {
                    alert("Ingresar un Correo valido")
                }
            }
    </script>


{% endblock extra_js_end_body %}
{% endblock cuerpo_main %}

