{% extends 'travelix/main_detalle.html' %}
{% load static %}
{% block titulo %} {{ titulo }}{% endblock titulo %}
{% block cabecera_extra_css_detalle %}
    <link rel="stylesheet" type="text/css" href="{% static 'travelix/styles/offers_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'travelix/styles/offers_responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'travelix/styles/elements_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'travelix/styles/elements_responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'travelix/styles/single_listing_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'travelix/styles/single_listing_responsive.css' %}">
    <link href="{% static 'travelix/plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">
{% endblock cabecera_extra_css_detalle %}

{% block cuerpo_main_detalle_home %}
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll"
             style="background-image:url({% static 'travelix/images/about_background.jpg' %})"></div>
        <div class="home_content">
            <div class="home_title"></div>
        </div>
    </div>

{% endblock cuerpo_main_detalle_home %}


{% block secciones_internas %}
    <div class="super_container">

        <div class="listing">

            <!-- Search -->


            <!-- Single Listing -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single_listing">

                            <!-- Hotel Info -->

                            <div class="hotel_info">

                                <!-- Title -->
                                <div class="hotel_title_container d-flex flex-lg-row flex-column">
                                    <div class="hotel_title_content">
                                        <h1 class="hotel_title">{{ tour.tour_name }}</h1>
                                        <!--<div class="rating_r rating_r_4 hotel_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>-->
                                        <div class="hotel_location">{{ tour.tour_short_descripcion }} </div>
                                    </div>
                                    <div class="hotel_title_button ml-lg-auto text-lg-right">
                                        {% if tour.is_from_staff %}


                                                <button class="button search_button"
                                                        onclick="window.location.href='{% url "previewTour" tour.pk %}'">
                                                    Reservar<span></span><span></span><span></span>
                                                </button>


                                        {% endif %}
                                        <div class="hotel_map_link_container">
                                            <a class="hotel_map_link" href="#map">Ver ubicacion en el mapa</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Listing Image -->

                                <div class="hotel_image">
                                    <img src="{{ '/media/' }}{{ tour.tour_photo_cover }}" alt="">
                                    <!--<div class="hotel_review_container d-flex flex-column align-items-center justify-content-center">
									<div class="hotel_review">
										<div class="hotel_review_content">
											<div class="hotel_review_title">very good</div>
											<div class="hotel_review_subtitle">100 reviews</div>
										</div>
										<div class="hotel_review_rating text-center">{{ hotel.hotel_score }}</div>
									</div>
								</div>-->
                                </div>

                                <!-- Hotel Gallery -->

                                <div class="hotel_gallery">
                                    <div class="hotel_slider_container">
                                        <div class="owl-carousel owl-theme hotel_slider">
                                            <!-- Hotel Gallery Slider Item -->

                                            {% for ph in tour.tour_lugar.all %}

                                                <div class="owl-item">
                                                    <a class="colorbox cboxElement"
                                                       href="{{ '/media/' }}{{ ph.foto_lugar }}">
                                                        <img src="{{ '/media/' }}{{ ph.foto_lugar }}">
                                                    </a>
                                                </div>
                                            {% endfor %}

                                        </div>

                                        <!-- Hotel Slider Nav - Prev -->
                                        <div class="hotel_slider_nav hotel_slider_prev">
                                            <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="28px" height="33px" viewBox="0 0 28 33"
                                                 enable-background="new 0 0 28 33" xml:space="preserve">
											<defs>
												<linearGradient id='hotel_grad_prev'>
													<stop offset='0%' stop-color='#fa9e1b'/>
                                                    <stop offset='100%' stop-color='#8d4fff'/>
												</linearGradient>
											</defs>
                                                <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
											M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
											C22.545,2,26,5.541,26,9.909V23.091z"/>
                                                <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
											11.042,18.219 "/>
										</svg>
                                        </div>

                                        <!-- Hotel Slider Nav - Next -->
                                        <div class="hotel_slider_nav hotel_slider_next">
                                            <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="28px" height="33px" viewBox="0 0 28 33"
                                                 enable-background="new 0 0 28 33" xml:space="preserve">
											<defs>
												<linearGradient id='hotel_grad_next'>
													<stop offset='0%' stop-color='#fa9e1b'/>
                                                    <stop offset='100%' stop-color='#8d4fff'/>
												</linearGradient>
											</defs>
                                                <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
										M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
										C22.545,2,26,5.541,26,9.909V23.091z"/>
                                                <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
										17.046,15.554 "/>
										</svg>
                                        </div>

                                    </div>
                                </div>

                                <!-- Hotel Info Text -->

                                <div class="hotel_info_text">
                                    <p> {{ tour.tour_description }}</p>
                                </div>

                                <!-- Hotel Info Tags -->

                                <div class="hotel_info_tags">
                                    <ul class="hotel_icons_list">
                                        <li class="hotel_icons_item"><img
                                                src="{% static 'travelix/images/post.png' %}" alt=""></li>
                                        <li class="hotel_icons_item"><img
                                                src="{% static 'travelix/images/compass.png' %}" alt=""></li>
                                        <li class="hotel_icons_item"><img
                                                src="{% static 'travelix/images/bicycle.png' %}" alt=""></li>
                                        <li class="hotel_icons_item"><img
                                                src="{% static 'travelix/images/sailboat.png' %}" alt=""></li>
                                    </ul>
                                </div>

                                <div class="more_info">
                                    <div class="more_info_title">Informacion Adicional</div>

                                    <p>
                                        {{ tour.tour_short_descripcion }}
                                    </p>
                                    <div class="more_info_title">Horarios</div>
                                    <p>
                                        Desde {{ tour.tour_hour_begin }} hasta {{ tour.tour_hour_end }}
                                    </p>
                                    <div class="more_info_title">Costos</div>
                                    <p>
                                        {{ tour.tour_cost }} Gs. por Persona
                                    </p>
                                </div>
                                <div class="more_info">
                                    <div class="more_info_title">Lugares a Visitar</div>

                                    <p>
                                        {{ tour.get_places_names }}
                                    </p>

                                </div>

                            </div>

                            <!-- Rooms -->

                            <div class="rooms">

                            </div>


                            <!-- Location on Map -->

                            <div class="location_on_map">
                                <div class="location_on_map_title">Ubicacion en el Mapa</div>

                                <!-- Google Map -->

                                <div class="travelix_map">
                                    <div id="google_map" class="google_map">
                                        <div class="map_container">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="position-map-google">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Asuncion -25.244695951306028, 'lng': -57.48046875


                var place_location = {
                    lat: {{ tour.tour_lugar.first.position_lugar.latitude }},
                    lng: {{ tour.tour_lugar.first.position_lugar.longitude }}
                };


                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 10, center: place_location});

                {% for ph in tour.tour_lugar.all %}

                    var marker{{ ph.pk }} = new google.maps.Marker({
                        position: {
                            lat: {{ ph.position_lugar.latitude }},
                            lng: {{ph.position_lugar.longitude}}
                        }, map: map
                    });

                    var infowindow{{ ph.pk }} = new google.maps.InfoWindow({
                        content: '{{ ph.name_place }}'
                    });

                    marker{{ ph.pk }}.addListener('click', function () {
                        infowindow{{ ph.pk }}.open(map, marker{{ ph.pk }});
                    });
                {% endfor %}
            }
        </script>

        <script defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7xt9P8jVg7JrzhPBIdrHHRThGcsvMoCY&callback=initMap">
        </script>


    </div>
{% endblock secciones_internas %}

{% block extra_detalle_js %}
    <script src="{% static 'travelix/js/single_listing_custom.js' %}"></script>
    <script src="{% static 'travelix/plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'travelix/plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'travelix/plugins/colorbox/jquery.colorbox-min.js' %}"></script>

{% endblock %}



