{% extends 'travelix/main.html' %}
{% load static %}
{% block titulo %} {{ titulo }}{% endblock titulo %}
{% block cabecera_extra_css %}
    {% block cabecera_extra_css_detalle %}
    {% endblock cabecera_extra_css_detalle %}


{% endblock cabecera_extra_css %}

{% block logueouser %}

    <div class="user_box ml-auto">
        {% if logueo_user %}
            <div class="user_box_login user_box_link"><a href="#">{{ 'Hola ' }}{{ username }}</a></div>
            <div class="user_box_register user_box_link"><a href="{% url 'logout' %}">Cerrar</a></div>
        {% else %}
            <div class="user_box_login user_box_link"><a href="{% url 'login' %}">Ingresar</a></div>
            <div class="user_box_register user_box_link"><a href="{% url 'register' %}">Registrarte</a></div>
        {% endif %}
    </div>
{% endblock %}

{% block cuerpo_main %}

    {% block cuerpo_main_detalle_home %}
        <div class="home">

            <!-- Home Slider -->

            <div class="home_slider_container">

                <div class="owl-carousel owl-theme home_slider">

                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <!-- Image by https://unsplash.com/@anikindimitry -->
                        <div class="home_slider_background"
                             style="background-image:url({% static 'img/slider1.jpg' %})"></div>

                        <div class="home_slider_content text-center">
                            <div class="home_slider_content_inner" data-animation-in="flipInX"
                                 data-animation-out="animate-out fadeOut">
                                <h1>Comunidad</h1>
                                <h1>turismo interno</h1>
                                <div class="button home_slider_button">
                                    <div class="button_bcg"></div>
                                    <a href="#">Bienvenido<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <div class="home_slider_background"
                             style="background-image:url({% static 'img/slider2.jpeg' %})"></div>

                        <div class="home_slider_content text-center">
                            <div class="home_slider_content_inner" data-animation-in="flipInX"
                                 data-animation-out="animate-out fadeOut">
                                <h1>Comunidad</h1>
                                <h1>turismo interno</h1>
                                <div class="button home_slider_button">
                                    <div class="button_bcg"></div>
                                    <a href="#">Bienvenido<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <div class="home_slider_background"
                             style="background-image:url({% static 'img/slider3.jpg' %})"></div>

                        <div class="home_slider_content text-center">
                            <div class="home_slider_content_inner" data-animation-in="flipInX"
                                 data-animation-out="animate-out fadeOut">
                                <h1>Comunidad</h1>
                                <h1>turismo interno</h1>
                                <div class="button home_slider_button">
                                    <div class="button_bcg"></div>
                                    <a href="#">Bienvenido<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Home Slider Nav - Prev -->
                <div class="home_slider_nav home_slider_prev">
                    <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33"
                         xml:space="preserve">
					<defs>
						<linearGradient id='home_grad_prev'>
							<stop offset='0%' stop-color='#fa9e1b'/>
                            <stop offset='100%' stop-color='#8d4fff'/>
						</linearGradient>
					</defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
					M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
					C22.545,2,26,5.541,26,9.909V23.091z"/>
                        <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
					11.042,18.219 "/>
				</svg>
                </div>

                <!-- Home Slider Nav - Next -->
                <div class="home_slider_nav home_slider_next">
                    <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33"
                         xml:space="preserve">
					<defs>
						<linearGradient id='home_grad_next'>
							<stop offset='0%' stop-color='#fa9e1b'/>
                            <stop offset='100%' stop-color='#8d4fff'/>
						</linearGradient>
					</defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
				M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
				C22.545,2,26,5.541,26,9.909V23.091z"/>
                        <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
				17.046,15.554 "/>
				</svg>
                </div>

                <!-- Home Slider Dots -->

                <div class="home_slider_dots">
                    <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                        <li class="home_slider_custom_dot active">
                            <div></div>
                            01.
                        </li>
                        <li class="home_slider_custom_dot">
                            <div></div>
                            02.
                        </li>
                        <li class="home_slider_custom_dot">
                            <div></div>
                            03.
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    {% endblock cuerpo_main_detalle_home %}

    <!-- Search -->
    {% block seccion_search %}
        <div class="search">


            <!-- Search Contents -->

            <div class="container fill_height">
                <div class="row fill_height">
                    <div class="col fill_height">

                        <!-- Search Tabs -->

                        <div class="search_tabs_container">
                            <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="{% static 'travelix/images/suitcase.png' %}" alt=""><span>hotels</span>
                                </div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="{% static 'travelix/images/bus.png' %}" alt="">Viajes
                                </div>
                                <!--<div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                <img src="{% static 'travelix/images/departure.png'%}" alt="">flights</div> -->
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="{% static 'travelix/images/island.png' %}" alt="">Lugares
                                </div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="{% static 'travelix/images/cruise.png' %}" alt="">Destinos
                                </div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="{% static 'travelix/images/diving.png' %}" alt="">Actividades
                                </div>
                            </div>
                        </div>

                        <!-- Search Panel -->
                        <!-- Hoteles -->
                        <div class="search_panel active">
                            <form action="{% url 'listAvailableRooms' %}" id="search_form_1"
                                  class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center
                              align-items-start justify-content-lg-between justify-content-start">

                                <div class="search_item">
                                    <div>Ciudad</div>
                                    <select name="ciudad" id="ciudad_2" class="form-control ">
                                    </select>
                                </div>

                                <div class="search_item">
                                    <div>check in - check out</div>
                                    <input type="text" name="checkin" class="check_in search_input"
                                           placeholder="DD-MM-YYYY" required>
                                </div>


                                <div class="search_item">
                                    <div>Adultos</div>
                                    <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                    </select>
                                </div>

                                <div class="search_item">
                                    <div>Niños</div>
                                    <select name="children" id="children_1" class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                    </select>
                                </div>
                                <button class="button search_button">Buscar<span></span><span></span><span></span>
                                </button>
                            </form>
                        </div>

                        <!-- Search Panel -->
                        <!-- Viajes -->
                        <div class="search_panel">
                            <form action="{% url 'buscarViajeVista' %}" id="search_form_2"
                                  class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>Ciudad</div>
                                    <select name="ciudad" id="ciudad_22" class="form-control ">
                                    </select>
                                </div>

                                <div class="search_item">
                                    <div>Tipo de Viajes</div>
                                    <select name="viaje" id="viajes_2" class="form-control ">
                                    </select>
                                </div>
                                <button class="button search_button">Buscar<span></span><span></span><span></span>
                                </button>
                            </form>
                        </div>

                        <!-- Search Panel -->
                        <!-- Flights -->
                        <!--<div class="search_panel">
                            <form action="#" id="search_form_3" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>destination</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>check in</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>check out</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>adults</div>
                                    <select name="adults" id="adults_3" class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>children</div>
                                    <select name="children" id="children_3" class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <button class="button search_button">search<span></span><span></span><span></span></button>
                            </form>
                        </div>-->

                        <!-- Search Panel -->
                        <!-- Lugares -->
                        <div class="search_panel">
                            <form action="{% url 'buscarLugarVista' %}" id="search_form_4"
                                  class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center
                              align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>Ciudad</div>
                                    <select name="ciudad" id="ciudad_4" class="form-control ">
                                    </select>
                                </div>

                                <div class="search_item">
                                    <div>Tipo de Lugar</div>
                                    <select name="lugar" id="lugares_4" class="form-control ">
                                    </select>
                                </div>
                                <button class="button search_button">Buscar<span></span><span></span><span></span>
                                </button>
                            </form>
                        </div>

                        <!-- Search Panel -->
                        <!-- Destinos -->
                        <div class="search_panel">
                            <form action="{% url 'buscarDestinoVista' %}" id="search_form_5"
                                  class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center
                              align-items-start justify-content-lg-between justify-content-start">
                                <!--<div class="search_item">
                                    <div>Ciudad</div>
                                    <select name="ciudad" id="ciudad_5" class="form-control ">
                                    </select>
                                </div>-->

                                <div class="search_item" style="width: 80%">
                                    <div>Destinos</div>
                                    <select name="destino" id="destinos_5" class="form-control ">
                                    </select>
                                </div>
                                <button class="button search_button">Buscar<span></span><span></span><span></span>
                                </button>
                            </form>
                        </div>

                        <!-- Search Panel -->
                        <!-- Actividades-->

                        <div class="search_panel">
                            <form action="{% url 'buscarActividadVista' %}" id="search_form_6"
                                  class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center
                              align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>Ciudad</div>
                                    <select name="ciudad" id="ciudad_6" class="form-control ">
                                    </select>
                                </div>

                                <div class="search_item">
                                    <div>Actividades</div>
                                    <select name="actividad" id="actividad_6" class="form-control ">
                                    </select>
                                </div>
                                <button class="button search_button">Buscar<span></span><span></span><span></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock seccion_search %}
    <!-- Intro -->

    {% block secciones_internas %}
        <div id="resultado_busqueda">
            <div class="intro">
                <div class="container">
                    <h2>Informacion sobre Buses</h2>

                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped" id="listBus">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Ciudad Partida</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Ciudad Destino</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Ruta</th>
                                    <th scope="col">Precio</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in listBus %}
                                    <tr>
                                        <th scope="row">{{ data.ciudad_partida.nombre_ciudad }}</th>
                                        <td>{{ data.ciudad_partida_desc }}</td>
                                        <td>{{ data.ciudad_destino.nombre_ciudad }}</td>
                                        <td>{{ data.ciudad_destino_desc }}</td>
                                        <td>{{ data.ruta }}</td>
                                        <td>{{ data.precio }}Gs.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock secciones_internas %}




    {% block extra_detalle_js %}
    {% endblock extra_detalle_js %}

    <script>

        /*Viaje*/
        $('#ciudad_2').select2({
            width: '100%',
            placeholder: 'Ciudades',
            ajax: {
                url: '{% url 'ciudadfiltro' %}',
                dataType: 'json',
                processResults: function (data) {
                    var lista_datos = $.map(data.datos, function (obj) {
                        obj.text = obj.text || obj.nombre_ciudad;
                        return obj;
                    });
                    return {
                        results: data.datos
                    };

                }
            }
        });
        $('#ciudad_22').select2({
            width: '100%',
            placeholder: 'Ciudades',
            ajax: {
                url: '{% url 'ciudadfiltro' %}',
                dataType: 'json',
                processResults: function (data) {
                    var lista_datos = $.map(data.datos, function (obj) {
                        obj.text = obj.text || obj.nombre_ciudad;
                        return obj;
                    });
                    return {
                        results: data.datos
                    };

                }
            }
        });
        $('#viajes_2').select2({
            width: '100%',
            allowClear: true,
            placeholder: 'Viajes',
            ajax: {
                url: '{% url 'viajetipofiltro' %}',
                dataType: 'json',
                processResults: function (data) {
                    var lista_datos = $.map(data.datos, function (obj) {
                        obj.id = obj.id || obj.pk;
                        obj.text = obj.text || obj.travel_type;
                        return obj;
                    });
                    return {
                        results: lista_datos
                    };

                }
            }
        });


        /*Tipo Lugar*/
        $('#ciudad_4').select2({
            width: '100%',
            placeholder: 'Ciudades',
            ajax: {
                url: '{% url 'ciudadfiltro' %}',
                dataType: 'json',
                processResults: function (data) {
                    var lista_datos = $.map(data.datos, function (obj) {
                        obj.text = obj.text || obj.nombre_ciudad;
                        return obj;
                    });
                    return {
                        results: data.datos
                    };

                }
            }
        });
        $('#lugares_4').select2({
            width: '100%',
            allowClear: true,
            placeholder: 'Lugares',
            ajax: {
                url: '{% url 'lugartipofiltro' %}',
                dataType: 'json',
                processResults: function (data) {
                    var lista_datos = $.map(data.datos, function (obj) {
                        obj.id = obj.id || obj.pk;
                        obj.text = obj.text || obj.place_type;
                        return obj;
                    });
                    return {
                        results: lista_datos
                    };

                }
            }
        });
        /*Destinos*/

        $('#ciudad_5').select2({
            width: '100%',
            placeholder: 'Ciudades',
            ajax: {
                url: '{% url 'ciudadfiltro' %}',
                dataType: 'json',
                processResults: function (data) {
                    var lista_datos = $.map(data.datos, function (obj) {
                        obj.text = obj.text || obj.nombre_ciudad;
                        return obj;
                    });
                    return {
                        results: data.datos
                    };

                }
            }
        });
        $('#destinos_5').select2({
            width: '100%',
            allowClear: true,
            placeholder: 'Destinos',
            ajax: {
                url: '{% url 'destinotipofiltro' %}',
                dataType: 'json',
                processResults: function (data) {
                    var lista_datos = $.map(data.datos, function (obj) {
                        obj.id = obj.id || obj.pk;
                        obj.text = obj.text || obj.destiny_type;
                        return obj;
                    });
                    return {
                        results: lista_datos
                    };

                }
            }
        });
        /*Actividad*/
        $('#ciudad_6').select2({
            width: '100%',
            placeholder: 'Ciudades',
            ajax: {
                url: '{% url 'ciudadfiltro' %}',
                dataType: 'json',
                processResults: function (data) {
                    var lista_datos = $.map(data.datos, function (obj) {
                        obj.text = obj.text || obj.nombre_ciudad;
                        return obj;
                    });
                    return {
                        results: data.datos
                    };

                }
            }
        });
        $('#actividad_6').select2({
            width: '100%',
            allowClear: true,
            placeholder: 'Actividades',
            ajax: {
                url: '{% url 'actividadtipofiltro' %}',
                dataType: 'json',
                processResults: function (data) {
                    var lista_datos = $.map(data.datos, function (obj) {
                        obj.id = obj.id || obj.pk;
                        obj.text = obj.text || obj.activities_type;
                        return obj;
                    });
                    return {
                        results: lista_datos
                    };

                }
            }
        });

        function showTourInfo(lugar) {
            $.ajax({
                type: 'GET',
                url: '{% url "singleplacetourinfo" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'lugar': lugar,
                    'isAjax': 'S'
                },
                success: function (data) {
                    $('#resultado_busqueda').html(data);
                    $('#resultado_busqueda').focus();

                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        $(function () {
            var checkin = $('input[name="checkin"]');
            checkin.daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });

            checkin.on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });

            checkin.on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

        });
    </script>
{% endblock cuerpo_main %}


{% block extra_js_end_body %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock extra_js_end_body %}